<div class="themes">
  <div style="height: 64px"> </div>
  <section class="p-4">
    @switch (selectedMenu) {
      @case ("") {
        <app-menu [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"></app-menu>
      }
      @case ("surahdetail") {
        <app-suratdetail [play]="play" [surahData]="surahData" [surahDataNext]="surahDataNext"
          [surahDataPrev]="surahDataPrev" [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)" (suratChanges)="surahDetail($event)"
          (playChanges)="playComp($event)"></app-suratdetail>
      }
      @case ("surah") {
        <app-surat [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)" (suratChanges)="surahDetail($event)"></app-surat>
      }
      @case ("jadwalsholat") {
        <app-jadwalsholat [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-jadwalsholat>
      }
      @case ("tentang") {
        <app-about [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-about>
      }
      @case ("juzamma") {
        <app-juzamma [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-juzamma>
      }
      @case ("wirid") {
        <app-wirid [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-wirid>
      }
      @case ("ayatkursi") {
        <app-ayatkursi [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-ayatkursi>
      }
      @case ("asmaulhusna") {
        <app-asmaulhusna [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-asmaulhusna>
      }
      @case ("doa") {
        <app-doa [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-doa>
      }
      @case ("tahlil") {
        <app-tahlil [selectedMenu]="selectedMenu" (selectedMenuChanges)="changeMenu($event)"
          (bottomOpenChanges)="bottomOpenComp($event)"></app-tahlil>
      }
    }
  </section>
  
  @if (bottom || play) {
    <div class="bottominfo" [ngStyle]="{'width.px': appData.width, 'z-index': 5}">
      <div class="bottominfotitle flex items-center justify-between">
        @if (play) {
          <div class="flex items-center gap-2">
            <div class="playrecord"></div>
            <div class="font-bold">{{ bottomTitle }}</div>
          </div>
        }
        @if (!play) {
          <div class="flex items-center gap-2">
            <div>💠</div>
            <div class="font-bold">{{ bottomTitle }}</div>
          </div>
        }
        <div class="iconaction flex items-center justify-center pointer" (click)="play ? stopAudio() : closeBottom()">
          <i class="material-icons">
            close
          </i>
        </div>
      </div>
      <div class="bottomcontent p-4 flex flex-col gap-4">
        @if (play) {
          <div class="flex items-center justify-between">
            <div>
              {{ start }}
            </div>
            <div>
              {{ end }}
            </div>
          </div>
          <div class="mt-2 w-full">
            <mat-progress-bar mode="determinate" [value]="(startDuration / duration) * 100"></mat-progress-bar>
          </div>
        }
        @if (!play) {
          @if (bottomTerjemahan) {
            <div class="bottomterjemahan text-xs">
              <div class="flex items-start gap-2 mb-2">
                <div class="font-bold">🔸</div>
                <div>Terjemahan:</div>
              </div>
              {{ bottomTerjemahan }}
            </div>
          }
          @if (bottomTafsir) {
            <div class="bottomterjemahan text-xs">
              <div class="flex items-start gap-2 mb-2">
                <div class="font-bold">🔸</div>
                <div>Tafsir:</div>
              </div>
              {{ bottomTafsir }}
            </div>
          }
        }
      </div>
    </div>
  }
</div>
