:root {
  --primary: #2b865a;
  --primary-light: #64bc8b;
  --primary-dark: #005f3a;
  --primary-soft: #f5fff5;
  --secondary: #2b865a;
  --secondary-light: #64bc8b;
  --secondary-dark: #005f3a;
  --secondary-soft: #f5fff5;
  --error: #dc1a1a;
  --text: #1e1e1e;
  --bg-secondary: #333333;
  --bg: #fff;
  --border: #eee;
}
