.logo-additional {
    padding: 4px 8px;
    border-radius: 6px;
    background-color: var(--primary);
    color: white !important;
}

.navbarapp {
    // color: white;
    // background-color: #367844 !important;
    border: 1px solid #eee;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.action-button {
}